<header>
  <img
    src="img/rafael.jpg"
    alt="Rafael - Foto de perfil"
    width="150px"
    height="150px"
    loading="eager"
  />
  <h1>Rafael Ferreira Leal</h1>
</header>

<aside>
  <div class="container">
    <p>Front-End Developer | Angular | ReactJS | TypeScript | Java</p>
    <p>São Gonçalo, Rio de Janeiro, Brasil</p>
    <p>
      Graduating in Computer Science, my goal is to master the entire stack that
      I believe I'm able to contribute to modern applications – with a good
      experience and striving to improve mainly in Angular, React and
      TypeScript.
    </p>
    <nav>
      <ul>
        <li class="btn btn-primary">
          <a href="pdf/cv.pdf" target="_blank">Resume</a>
        </li>
        <li class="btn-secondary">
          <a href="https://www.linkedin.com/in/rafaelfrleal/" target="_blank"
            >LinkedIn</a
          >
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="icons/whatsapp.svg"
          alt="Whatsapp"
          width="28px"
          height="30px"
        />
        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5521976676870&text=Ol%C3%A1%20Rafael,%20preciso%20de%20um%20job!"
            target="_blank"
          ></a
          ><strong>Send a message:</strong>
          <p>Whatsapp: (21) 97667-6870</p>
        </figcaption>
      </figure>
      <figure>
        <img
          src="icons/mail.svg"
          alt="ícone para Email"
          width="28px"
          height="30px"
        />
        <figcaption>
          <a href="mailto:rafaelwayv@gmail.com" target="_blank"></a
          ><strong>Send an email:</strong>
          <p>Email: rafaelwayv&#64;gmail.com</p>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
